{% extends 'base.html' %}

{% block content %}

<div>

  {% if request.user.is_authenticated %}
    <div>
      <a href="{% url 'reviews:create' %}">[후기 작성]</a>
    </div>
  {% endif %}

</div>
{% for review in reviews %}
  <p>

    <p>후기 작성자 -
      <a href="{% url 'reviews:detail' review.pk %}">{{ review.user }}</a>
    </p>
    <p>후기 번호 -
      {{ review.pk }}
    </p>
    <p>
      영화 이름 -
      {{review.movie}}
    </p>
  </p>
  {% comment %} <a href="{% url 'reviews:detail' review.pk %}">[detail]</a> {% endcomment %}
  <hr>
{% endfor %}
{% endblock content %}